@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   font-variant-ligatures: none;
}

[data-rk] {
   min-width: 100%;
}
.propUpdateMarkdown a {
   color: theme('colors.blue.600');
}

.propUpdateMarkdown a:hover {
   text-decoration: underline;
}

.aboutPage strong {
   font-weight: 600;
}

.aboutPage a {
   color: theme('colors.blue.600');
}

.aboutPage a:hover {
   text-decoration: underline;
}

li p {
   display: inline;
}

li::before {
   content: '•';
   display: inline-block;
   unicode-bidi: isolate;
   font-variant-numeric: tabular-nums;
   text-transform: none;
   text-indent: 0px !important;
   text-align: start !important;
   text-align-last: start !important;
   margin-right: 6px;
}
