@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   font-variant-ligatures: none;
}

[data-rk] {
   min-width: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.propUpdateMarkdown a {
   color: theme('colors.blue.600');
}

.propUpdateMarkdown a:hover {
   text-decoration: underline;
}

.aboutPage strong {
   font-weight: 600;
}

.aboutPage a {
   color: theme('colors.blue.600');
}

.aboutPage a:hover {
   text-decoration: underline;
}
